/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    width: 1280px;
    margin: auto;
}

/* Header Styles */
header {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 15px 0;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #3498db;
}

/* Home Intro Styles */
.home-intro img {
    max-width: 1280px;
}

/* Main Container Styles */
.main-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px;
}

/* Common Styles for Schedule Tabs and Sponsor Tabs */
.schedule-title {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 48px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.schedule-tabs, .sponsor-tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.schedule-tabs li, .sponsor-tabs li {
    margin-right: 10px;
}

.schedule-tabs button, .sponsor-tabs button {
    text-decoration: none;
    color: #ffff;
    font-size: 25px;
    font-weight: bold;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #0950CD;
    justify-content: space-between;
}

.schedule-tabs button:hover, .sponsor-tabs button:hover {
    background-color: #e0e0e0;
    color: #0950CD;
}

/* Hide tab content by default */
/* Hide tab content by default */
.tab-content, .sponsor-tab-content {
  display: none;
}

/* Show active tab content for schedule tabs */
.schedule-tabs .active {
  display: block;
}

/* Hide all sponsor tab content by default */
.sponsor-tab-content {
  display: none;
}

/* Show active tab content for sponsor tabs */
.sponsor-tabs .active {
  display: block;
}

/* Speakers Carousel */
.speakers-title {
  padding-top: 50px;
  font-size: 48px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.speakers-carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 100px;
}


.speakers-container {
  display: flex; /* Make the container a flex container */
  transition: transform 0.5s ease;
}

.speaker {
  flex: 0 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
  text-align: center;
}

.speaker img {
  width: 300px; /* Adjust the width as needed */
  height: 300px; /* Adjust the height as needed */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 50%;
  margin-bottom: 10px;
}

.speaker h3 {
  font-size: 30px;
  margin: 5px 0;
}

.speaker p {
  color: #666;
  font-size: 20px;
}

/* Schedule Styles */
#schedule {
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 50px;
}

/* Card Styles */
.card {
  background-color: #0950CD;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card h2 {
  margin-bottom: 15px;
  color: #ffff;
  font-size: 24px;
  display: flex;
  justify-content: center;
}

.card p {
  color: #666;
  line-height: 1.6;
  color: white;
}

.card:hover {
  transform: translateY(-5px);
}

/* Sponsors Styles */
#sponsors {
  padding-bottom: 50px;
}

#sponsors h2 {
  font-size: 48px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.sponsor-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  padding-bottom: 50px;
}

.sponsor-card h3 {
  color: #333;
  margin-bottom: 15px;
}

.sponsor-card p {
  color: #666;
  line-height: 1.6;
}

.sponsor-card:hover {
  transform: translateY(-5px);
}


/* Show sponsor cards with active class */
.sponsor-tab-content .sponsor-card.active {
    display: block;
}

/* Updated styles for Contact and Subscribe sections as cards */
#contactForm {
  background-color: #0950CD;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  color: #fff;
  max-width: 600px; /* Adjusted max-width */
  margin: 0 auto; /* Center the form horizontally */
}

.contact-method {
  display: flex;
  gap: 20px;
}

.contact-content,
.subscribe-content {
  background-color: #0950CD;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  width: 800px;
}

.contact-content h2,
.subscribe-content h2 {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 36px; /* Adjusted font size */
  font-weight: bold;
  margin-bottom: 15px;
}

#contactForm,
#subscribeForm {
  max-width: 800px;
  margin: 0 auto;
}

#contactForm label,
#subscribeForm label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 24px;
  color: #fff;
}

#contactForm input,
#subscribeForm input,
#contactForm textarea {
  width: 100%; /* Full width within the max-width container */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Include padding and border in width calculation */
}

#contactForm button,
#subscribeForm button {
  padding: 12px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#contactForm button:hover,
#subscribeForm button:hover {
  background-color: #2980b9;
}

#subscriptionStatus {
  margin-top: 20px;
  color: #333;
}



/* Footer Styles */
footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 15px 0;
}
